.head

.middle
  .middle__title
    予約伝票一覧
    .middle__title__box
      = link_to image_tag('128272.png', size:"200x150"),withdrawals_path
    .middle__title__box
      = link_to image_tag('131643.png', size:"200x100"),payments_path
.bottom